div {
  margin: 0 0 20px;
}
.error {
  color: #da6969;
  font-size: 10px;
}
button {
   margin: 0 0 20px;
} 
button:disabled {
   cursor: no-drop;
}
.group {
  border: 1px #a06a6a solid;
  padding: 20px;
}
.title {
  font-size: 25px;
}